<h2>
  <a href="https://github.com/bigBear713/nb-form/blob/master/projects/nb-form/README.md" target="_blank">
    Document
  </a>
  <a href="https://github.com/bigBear713/nb-form/blob/master/CHANGELOG.md" target="_blank">
    Changelog
  </a>
</h2>
<hr>
<h3>
  <button type="button" (click)="changeLanguage('zh-CN')">切换为中文</button>
  <button type="button" (click)="changeLanguage('en')">switch as English</button>
</h3>
<form *ngIf="form" [formGroup]="form">
  <nb-field-item [required]="true" [control]="field1Ctrl" [errInfo]="errInfo1">
    <span field-label>{{"demoContent.field1"|nbTrans}}：</span>
    <input type="text" [formControl]="field1Ctrl">
  </nb-field-item>
  <nb-field-item [control]="field2Ctrl" [errInfo]="errInfo1">
    <span field-label>{{"demoContent.field2"|nbTrans}}：</span>
    <input type="text" [formControl]="field2Ctrl">
  </nb-field-item>
  <nb-field-item [control]="field3Ctrl" [errInfo]="errInfo2">
    <span field-label>{{"demoContent.field3"|nbTrans}}：</span>
    <input type="file" (change)="onChangeFile($event)">
  </nb-field-item>
  <nb-field-item [control]="field4Ctrl">
    <span field-label>{{"demoContent.field4"|nbTrans}}：</span>
    <input type="text" [formControl]="field4Ctrl">
  </nb-field-item>
  <nb-field-item [control]="field5Ctrl">
    <span field-label>{{"demoContent.field5"|nbTrans}}：</span>
    <input type="text" [formControl]="field5Ctrl">
  </nb-field-item>
  <nb-field-item [control]="field6Ctrl" [errInfo]="errInfo1">
    <span field-label><i>+</i>{{"demoContent.field6"|nbTrans}}：</span>
    <input type="text" [formControl]="field6Ctrl">
  </nb-field-item>
</form>

<hr>
<h5>{{"demoContent.useComp"|nbTrans}}</h5>
<form *ngIf="form" style="margin-bottom: 20px;width: 200px;" [formGroup]="form">
  <input type="text" formControlName="field1">
  <nb-control-err [control]="field1Ctrl" [errInfo]="errInfo1" />
</form>
<hr>
<button type="button" (click)="onSubmit()">{{'demoContent.submit'|nbTrans}}</button>
<button (click)="resetCtrl1()">{{'demoContent.resetField1'|nbTrans}}</button>
<div>
  <p>{{'demoContent.desc'|nbTrans}}</p>
  <p>{{'demoContent.desc1'|nbTrans}}</p>
  <p>{{'demoContent.desc2'|nbTrans}}</p>
  <p>{{'demoContent.desc3'|nbTrans}}</p>
  <p>{{'demoContent.desc4'|nbTrans}}</p>
  <p>{{'demoContent.desc5'|nbTrans}}</p>
  <p>{{'demoContent.desc6'|nbTrans}}</p>
  <p>{{'demoContent.desc7'|nbTrans}}</p>
  <p>{{'demoContent.desc8'|nbTrans}}</p>
</div>

<hr>
<h2>children router component</h2>
<router-outlet />

<ng-template #requiredIcon>+</ng-template>